#-------------------------------------
# Jekyll 관련
#-------------------------------------
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/
Gemfile.lock

#-------------------------------------
# macOS 시스템 파일
#-------------------------------------
.DS_Store

#-------------------------------------
# VS Code 설정
#-------------------------------------
.vscode/

#-------------------------------------
# 로그 / 임시 파일
#-------------------------------------
*.log
*.tmp
*.swp

#-------------------------------------
# 기타
#-------------------------------------
node_modules/
